In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

In [2]:
# Read the csv file into a pandas DataFrame for transforming (xform all the non-numeric data for ML prep)
xform_pd = pd.read_csv('Voter_final_clean.csv')
xform_pd.head(2)

,Year,State,General:VEP Turnout Rate,General:Total Ballots Counted,VEP,Total registered,Primary:VEP Turnout Rate,Primary:Total Ballots Counted
0,2000,Alabama,59.00%,"1,912,592","3,241,682","2,411,000",15.30%,"489,573"
1,2004,Alabama,57.40%,"1,890,317","3,292,608","2,418,000",26.00%,"863,695"

In [3]:
from sklearn.preprocessing import LabelEncoder 
labelencoder= LabelEncoder() #initializing an object of class LabelEncoder
xform_pd['State'] = labelencoder.fit_transform(xform_pd['State']) #fitting and transforming the desired categorical column.
xform_pd.head(2)

,Year,State,General:VEP Turnout Rate,General:Total Ballots Counted,VEP,Total registered,Primary:VEP Turnout Rate,Primary:Total Ballots Counted
0,2000,0,59.00%,"1,912,592","3,241,682","2,411,000",15.30%,"489,573"
1,2004,0,57.40%,"1,890,317","3,292,608","2,418,000",26.00%,"863,695"

In [4]:
labelencoder.inverse_transform(xform_pd['State'])

array(['Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alaska',
       'Alaska', 'Alaska', 'Alaska', 'Alaska', 'Arizona', 'Arizona',
       'Arizona', 'Arizona', 'Arizona', 'Arkansas', 'Arkansas',
       'Arkansas', 'Arkansas', 'Arkansas', 'California', 'California',
       'California', 'California', 'California', 'Colorado', 'Colorado',
       'Colorado', 'Colorado', 'Colorado', 'Connecticut', 'Connecticut',
       'Connecticut', 'Connecticut', 'Connecticut', 'Delaware',
       'Delaware', 'Delaware', 'Delaware', 'Delaware',
       'DistrictOfColumbia', 'DistrictOfColumbia', 'DistrictOfColumbia',
       'DistrictOfColumbia', 'DistrictOfColumbia', 'Florida', 'Florida',
       'Florida', 'Florida', 'Florida', 'Georgia', 'Georgia', 'Georgia',
       'Georgia', 'Georgia', 'Hawaii', 'Hawaii', 'Hawaii', 'Hawaii',
       'Hawaii', 'Idaho', 'Idaho', 'Idaho', 'Idaho', 'Idaho', 'Illinois',
       'Illinois', 'Illinois', 'Illinois', 'Illinois', 'Indiana',
       'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Iowa', 'Iowa', 'Iowa',
       'Iowa', 'Iowa', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas',
       'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky',
       'Louisiana', 'Louisiana', 'Louisiana', 'Louisiana', 'Louisiana',
       'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maryland',
       'Maryland', 'Maryland', 'Maryland', 'Maryland', 'Massachusetts',
       'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts',
       'Michigan', 'Michigan', 'Michigan', 'Michigan', 'Michigan',
       'Minnesota', 'Minnesota', 'Minnesota', 'Minnesota', 'Minnesota',
       'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi',
       'Mississippi', 'Missouri', 'Missouri', 'Missouri', 'Missouri',
       'Missouri', 'Montana', 'Montana', 'Montana', 'Montana', 'Montana',
       'Nebraska', 'Nebraska', 'Nebraska', 'Nebraska', 'Nebraska',
       'Nevada', 'Nevada', 'Nevada', 'Nevada', 'Nevada', 'NewHampshire',
       'NewHampshire', 'NewHampshire', 'NewHampshire', 'NewHampshire',
       'NewJersey', 'NewJersey', 'NewJersey', 'NewJersey', 'NewJersey',
       'NewMexico', 'NewMexico', 'NewMexico', 'NewMexico', 'NewMexico',
       'NewYork', 'NewYork', 'NewYork', 'NewYork', 'NewYork',
       'NorthCarolina', 'NorthCarolina', 'NorthCarolina', 'NorthCarolina',
       'NorthCarolina', 'NorthDakota', 'NorthDakota', 'NorthDakota',
       'NorthDakota', 'NorthDakota', 'Ohio', 'Ohio', 'Ohio', 'Ohio',
       'Ohio', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma',
       'Oregon', 'Oregon', 'Oregon', 'Oregon', 'Oregon', 'Pennsylvania',
       'Pennsylvania', 'Pennsylvania', 'Pennsylvania', 'Pennsylvania',
       'RhodeIsland', 'RhodeIsland', 'RhodeIsland', 'RhodeIsland',
       'RhodeIsland', 'SouthCarolina', 'SouthCarolina', 'SouthCarolina',
       'SouthCarolina', 'SouthCarolina', 'SouthDakota', 'SouthDakota',
       'SouthDakota', 'SouthDakota', 'SouthDakota', 'Tennessee',
       'Tennessee', 'Tennessee', 'Tennessee', 'Tennessee', 'Texas',
       'Texas', 'Texas', 'Texas', 'Texas', 'Utah', 'Utah', 'Utah', 'Utah',
       'Utah', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont',
       'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia',
       'Washington', 'Washington', 'Washington', 'Washington',
       'Washington', 'WestVirginia', 'WestVirginia', 'WestVirginia',
       'WestVirginia', 'WestVirginia', 'Wisconsin', 'Wisconsin',
       'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wyoming', 'Wyoming',
       'Wyoming', 'Wyoming', 'Wyoming'], dtype=object)

In [5]:
#add new column
xform_pd["Re-election"] = 0

In [6]:
xform_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Year                           255 non-null    int64
 1   State                          255 non-null    int32
 2   General:VEP Turnout Rate       255 non-null    object
 3   General:Total Ballots Counted  255 non-null    object
 4   VEP                            255 non-null    object
 5   Total registered               255 non-null    object
 6   Primary:VEP Turnout Rate       255 non-null    object
 7   Primary:Total Ballots Counted  255 non-null    object
 8   Re-election                    255 non-null    int64
dtypes: int32(1), int64(2), object(6)
memory usage: 17.1+ KB

In [7]:
# label election year 0 and relection year 1
xform_pd.loc[xform_pd["Year"].isin([2004,2012]),"Re-election"] = 1
xform_pd

,Year,State,General:VEP Turnout Rate,General:Total Ballots Counted,VEP,Total registered,Primary:VEP Turnout Rate,Primary:Total Ballots Counted,Re-election
0,2000,0,59.00%,"1,912,592","3,241,682","2,411,000",15.30%,"489,573",0
1,2004,0,57.40%,"1,890,317","3,292,608","2,418,000",26.00%,"863,695",1
2,2008,0,61.00%,"2,105,622","3,454,510","2,438,000",32.20%,"1,088,835",0
3,2012,0,59.00%,"2,088,138","3,539,217","2,556,000",24.80%,"871,025",1
4,2016,0,59.10%,"2,134,061","3,609,447","2,526,000",35.00%,"1,260,551",0
...,...,...,...,...,...,...,...,...,...
250,2000,50,61.40%,"221,685","361,078","240,000",2.00%,"7,096",0
251,2004,50,66.30%,"245,789","370,785","265,000",2.00%,"7,545",1
252,2008,50,63.10%,"256,035","405,732","270,000",2.60%,"9,953",0
253,2012,50,59.00%,"250,701","425,142","268,000",0.30%,"1,308",1
254,2016,50,60.20%,"258,788","429,682","304,000",2.00%,"8,568",0

In [8]:
#convert data type, remove % and replace
# https://www.geeksforgeeks.org/python-pandas-series-astype-to-convert-data-type-of-series/
#      data["Salary"]= data["Salary"].astype(int) 
#      data["Number"]= data["Number"].astype(str)

xform_pd["General:VEP Turnout Rate"]= xform_pd["General:VEP Turnout Rate"].str.replace("%","").astype(float) 
xform_pd

,Year,State,General:VEP Turnout Rate,General:Total Ballots Counted,VEP,Total registered,Primary:VEP Turnout Rate,Primary:Total Ballots Counted,Re-election
0,2000,0,59.0,"1,912,592","3,241,682","2,411,000",15.30%,"489,573",0
1,2004,0,57.4,"1,890,317","3,292,608","2,418,000",26.00%,"863,695",1
2,2008,0,61.0,"2,105,622","3,454,510","2,438,000",32.20%,"1,088,835",0
3,2012,0,59.0,"2,088,138","3,539,217","2,556,000",24.80%,"871,025",1
4,2016,0,59.1,"2,134,061","3,609,447","2,526,000",35.00%,"1,260,551",0
...,...,...,...,...,...,...,...,...,...
250,2000,50,61.4,"221,685","361,078","240,000",2.00%,"7,096",0
251,2004,50,66.3,"245,789","370,785","265,000",2.00%,"7,545",1
252,2008,50,63.1,"256,035","405,732","270,000",2.60%,"9,953",0
253,2012,50,59.0,"250,701","425,142","268,000",0.30%,"1,308",1
254,2016,50,60.2,"258,788","429,682","304,000",2.00%,"8,568",0

In [9]:
xform_pd["Primary:VEP Turnout Rate"]= xform_pd["Primary:VEP Turnout Rate"].str.replace("%","").astype(float) 
xform_pd

,Year,State,General:VEP Turnout Rate,General:Total Ballots Counted,VEP,Total registered,Primary:VEP Turnout Rate,Primary:Total Ballots Counted,Re-election
0,2000,0,59.0,"1,912,592","3,241,682","2,411,000",15.3,"489,573",0
1,2004,0,57.4,"1,890,317","3,292,608","2,418,000",26.0,"863,695",1
2,2008,0,61.0,"2,105,622","3,454,510","2,438,000",32.2,"1,088,835",0
3,2012,0,59.0,"2,088,138","3,539,217","2,556,000",24.8,"871,025",1
4,2016,0,59.1,"2,134,061","3,609,447","2,526,000",35.0,"1,260,551",0
...,...,...,...,...,...,...,...,...,...
250,2000,50,61.4,"221,685","361,078","240,000",2.0,"7,096",0
251,2004,50,66.3,"245,789","370,785","265,000",2.0,"7,545",1
252,2008,50,63.1,"256,035","405,732","270,000",2.6,"9,953",0
253,2012,50,59.0,"250,701","425,142","268,000",0.3,"1,308",1
254,2016,50,60.2,"258,788","429,682","304,000",2.0,"8,568",0

In [10]:
xform_pd["General:Total Ballots Counted"]= xform_pd["General:Total Ballots Counted"].str.replace(",","").astype(int) 
xform_pd

,Year,State,General:VEP Turnout Rate,General:Total Ballots Counted,VEP,Total registered,Primary:VEP Turnout Rate,Primary:Total Ballots Counted,Re-election
0,2000,0,59.0,1912592,"3,241,682","2,411,000",15.3,"489,573",0
1,2004,0,57.4,1890317,"3,292,608","2,418,000",26.0,"863,695",1
2,2008,0,61.0,2105622,"3,454,510","2,438,000",32.2,"1,088,835",0
3,2012,0,59.0,2088138,"3,539,217","2,556,000",24.8,"871,025",1
4,2016,0,59.1,2134061,"3,609,447","2,526,000",35.0,"1,260,551",0
...,...,...,...,...,...,...,...,...,...
250,2000,50,61.4,221685,"361,078","240,000",2.0,"7,096",0
251,2004,50,66.3,245789,"370,785","265,000",2.0,"7,545",1
252,2008,50,63.1,256035,"405,732","270,000",2.6,"9,953",0
253,2012,50,59.0,250701,"425,142","268,000",0.3,"1,308",1
254,2016,50,60.2,258788,"429,682","304,000",2.0,"8,568",0

In [11]:
xform_pd["VEP"]= xform_pd["VEP"].str.replace(",","").astype(int) 
xform_pd

,Year,State,General:VEP Turnout Rate,General:Total Ballots Counted,VEP,Total registered,Primary:VEP Turnout Rate,Primary:Total Ballots Counted,Re-election
0,2000,0,59.0,1912592,3241682,"2,411,000",15.3,"489,573",0
1,2004,0,57.4,1890317,3292608,"2,418,000",26.0,"863,695",1
2,2008,0,61.0,2105622,3454510,"2,438,000",32.2,"1,088,835",0
3,2012,0,59.0,2088138,3539217,"2,556,000",24.8,"871,025",1
4,2016,0,59.1,2134061,3609447,"2,526,000",35.0,"1,260,551",0
...,...,...,...,...,...,...,...,...,...
250,2000,50,61.4,221685,361078,"240,000",2.0,"7,096",0
251,2004,50,66.3,245789,370785,"265,000",2.0,"7,545",1
252,2008,50,63.1,256035,405732,"270,000",2.6,"9,953",0
253,2012,50,59.0,250701,425142,"268,000",0.3,"1,308",1
254,2016,50,60.2,258788,429682,"304,000",2.0,"8,568",0

In [12]:
xform_pd["Total registered"]= xform_pd["Total registered"].str.replace(",","").astype(int) 
xform_pd

,Year,State,General:VEP Turnout Rate,General:Total Ballots Counted,VEP,Total registered,Primary:VEP Turnout Rate,Primary:Total Ballots Counted,Re-election
0,2000,0,59.0,1912592,3241682,2411000,15.3,"489,573",0
1,2004,0,57.4,1890317,3292608,2418000,26.0,"863,695",1
2,2008,0,61.0,2105622,3454510,2438000,32.2,"1,088,835",0
3,2012,0,59.0,2088138,3539217,2556000,24.8,"871,025",1
4,2016,0,59.1,2134061,3609447,2526000,35.0,"1,260,551",0
...,...,...,...,...,...,...,...,...,...
250,2000,50,61.4,221685,361078,240000,2.0,"7,096",0
251,2004,50,66.3,245789,370785,265000,2.0,"7,545",1
252,2008,50,63.1,256035,405732,270000,2.6,"9,953",0
253,2012,50,59.0,250701,425142,268000,0.3,"1,308",1
254,2016,50,60.2,258788,429682,304000,2.0,"8,568",0

In [13]:
xform_pd["Primary:Total Ballots Counted"]= xform_pd["Primary:Total Ballots Counted"].str.replace(",","").astype(int) 
xform_pd

,Year,State,General:VEP Turnout Rate,General:Total Ballots Counted,VEP,Total registered,Primary:VEP Turnout Rate,Primary:Total Ballots Counted,Re-election
0,2000,0,59.0,1912592,3241682,2411000,15.3,489573,0
1,2004,0,57.4,1890317,3292608,2418000,26.0,863695,1
2,2008,0,61.0,2105622,3454510,2438000,32.2,1088835,0
3,2012,0,59.0,2088138,3539217,2556000,24.8,871025,1
4,2016,0,59.1,2134061,3609447,2526000,35.0,1260551,0
...,...,...,...,...,...,...,...,...,...
250,2000,50,61.4,221685,361078,240000,2.0,7096,0
251,2004,50,66.3,245789,370785,265000,2.0,7545,1
252,2008,50,63.1,256035,405732,270000,2.6,9953,0
253,2012,50,59.0,250701,425142,268000,0.3,1308,1
254,2016,50,60.2,258788,429682,304000,2.0,8568,0

In [14]:
# prepare transformed data file for Machine Learning
con_xform_pd = xform_pd

In [17]:
# https://github.com/pandas-profiling/pandas-profiling, 
#       used "pip install pandas-profiling[notebook]" -- failed with error
#       used "conda install -c conda-forge pandas-profiling"  -- successful
profile = ProfileReport(con_xform_pd, title='Pandas Profiling Report', explorative=True)

TypeError: _plot_histogram() got an unexpected keyword argument 'title'

In [ ]:
profile.to_file("your_report_SVR.html")

In [ ]:
ml_data = con_xform_pd.drop(columns= ["General:VEP Turnout Rate", "Primary:VEP Turnout Rate"])
ml_data.head(2)

In [ ]:
ml_data.to_csv("ml_data.csv", index=False)

In [ ]:
# Assign X (data) and y (target)

### BEGIN SOLUTION
r = ml_data['Re-election']
X = ml_data.drop(columns=['General:Total Ballots Counted'])
y = (ml_data["General:Total Ballots Counted"]/1000000).values.reshape(-1, 1)
print(X.shape, y.shape, r.shape)
### END SOLUTION

In [ ]:
X.head(2)

In [ ]:
# Split the data into training and testing

### BEGIN SOLUTION
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
### END SOLUTION

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
### BEGIN SOLUTION
X_scaler = StandardScaler().fit(X_train[["VEP","Total registered","Primary:Total Ballots Counted"]])

### END SOLUTION
X_scaler

In [ ]:
# Transform the training and testing data using the X_scaler and y_scaler models

### BEGIN SOLUTION
X_train_scaled = X_scaler.transform(X_train[["VEP","Total registered","Primary:Total Ballots Counted"]])
X_test_scaled = X_scaler.transform(X_test[["VEP","Total registered","Primary:Total Ballots Counted"]])

### END SOLUTION
X_train_scaled

In [ ]:
X_train[["VEP","Total registered","Primary:Total Ballots Counted"]] = X_train_scaled
X_test[["VEP","Total registered","Primary:Total Ballots Counted"]] = X_test_scaled

In [ ]:
X_test

In [ ]:
# Create a LinearRegression model and fit it to the scaled training data

### BEGIN SOLUTION
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
### END SOLUTION

In [ ]:
# Used X_test_scaled, y_test_scaled, and model.predict(X_test_scaled) to calculate MSE and R2

### BEGIN SOLUTION
from sklearn.metrics import mean_squared_error

predictions = model.predict(X_test)

MSE = mean_squared_error(y_test, predictions)
r2 = model.score(X_test, y_test)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")

In [ ]:
# Make predictions using a fitted model
# Plot the difference between the model predicted values and actual y values, versus the model predicted values
# Hint: You can predict values of X training and testing data using the model.predict() method on a fitted model

### BEGIN SOLUTION
predictions = model.predict(X_test)
plt.scatter(model.predict(X_train), model.predict(X_train) - y_train, c="blue", label="Training Data")
plt.scatter(model.predict(X_test), model.predict(X_test) - y_test, c="orange", label="Testing Data")
plt.legend()
plt.hlines(y=0, xmin=y_test.min(), xmax=y_test.max())
plt.title("Residual Plot")
plt.show()
### END SOLUTION

In [ ]:
X_test_predict = X_test

In [ ]:
X_test_predict["Predictions"] = model.predict(X_test)

In [ ]:
X_test_predict["Actuals"] = y_test

In [ ]:
X_test_predict["Residual Testing"] = X_test_predict["Predictions"]-X_test_predict["Actuals"]

In [ ]:
X_test_predict.head(2)

In [ ]:
 X_test_predict_sort = X_test_predict.sort_values(by=["Residual Testing"], ascending=False)
 X_test_predict_sort.head(5)

In [ ]:
X_test_train = model.predict(X_train) - y_train
X_test_train