In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# Read the csv file into a pandas DataFrame
voter_to_g = pd.read_csv('../Resources/2000-2016_General_Turnout Rates.csv')
voter_to_g.head(2)

,Year,State,VEP Total Ballots Counted Rate,VEP Highest Office,Total Ballots Counted,Highest Office,Voting-Eligible Population (VEP)
0,2000,Alabama,59.00%,51.60%,"1,912,592","1,672,551","3,241,682"
1,2004,Alabama,57.40%,57.20%,"1,890,317","1,883,415","3,292,608"

In [3]:
voter_to_g.count()

Year                                255
State                               255
VEP Total Ballots Counted Rate      254
VEP Highest Office                  255
Total Ballots Counted               255
Highest Office                      255
Voting-Eligible Population (VEP)    255
dtype: int64

In [4]:
voter_to_g["State"] =voter_to_g.State.str.replace(' ','')

In [5]:
# Rename the column headers
voter_to_g2 = voter_to_g.rename(columns={"VEP Total Ballots Counted Rate": "General:VEP Turnout Rate",
                                         "Total Ballots Counted": "General:Total Ballots Counted", 
                                        "Voting-Eligible Population (VEP)": "VEP"})
voter_to_g2.head(2)

,Year,State,General:VEP Turnout Rate,VEP Highest Office,General:Total Ballots Counted,Highest Office,VEP
0,2000,Alabama,59.00%,51.60%,"1,912,592","1,672,551","3,241,682"
1,2004,Alabama,57.40%,57.20%,"1,890,317","1,883,415","3,292,608"

In [6]:
# Create a filter DF with only needed columns
voter_to_g_col = ["Year", "State", "General:VEP Turnout Rate", "General:Total Ballots Counted", "VEP"]
voter_to_g3 = voter_to_g2[voter_to_g_col].copy()
voter_to_g3.head(2)

,Year,State,General:VEP Turnout Rate,General:Total Ballots Counted,VEP
0,2000,Alabama,59.00%,"1,912,592","3,241,682"
1,2004,Alabama,57.40%,"1,890,317","3,292,608"

In [7]:
# Read the csv file into a pandas DataFrame
voter_to_p = pd.read_csv('../Resources/Primary Elections .csv')
voter_to_p.head(2)

,Year,State,VEP Turnout Rate,VEP Estimate,VAP Estimate,Turnout Rate VEP Total Ballots Counted
0,2000,Alabama,15.30%,"3,206,336","3,339,922","489,573"
1,2004,Alabama,26.00%,"3,321,905","3,424,354","863,695"

In [8]:
voter_to_p["State"] =voter_to_p.State.str.replace(' ','')

In [9]:
# Rename the column headers
voter_to_p2 = voter_to_p.rename(columns={"Turnout Rate VEP Total Ballots Counted": "Primary:Total Ballots Counted",
                                        "VEP Turnout Rate":"Primary:VEP Turnout Rate",
                                        "VEP Estimate":"Primary:VEP Estimate"})
voter_to_p2.head(2)

,Year,State,Primary:VEP Turnout Rate,Primary:VEP Estimate,VAP Estimate,Primary:Total Ballots Counted
0,2000,Alabama,15.30%,"3,206,336","3,339,922","489,573"
1,2004,Alabama,26.00%,"3,321,905","3,424,354","863,695"

In [10]:
# Create a filter DF with only needed columns
voter_to_p_col = ["Year", "State","Primary:VEP Turnout Rate","Primary:Total Ballots Counted"]
voter_to_p3 = voter_to_p2[voter_to_p_col].copy()
voter_to_p3.head(2)

   Year    State Primary:VEP Turnout Rate Primary:Total Ballots Counted
0  2000  Alabama                   15.30%                       489,573
1  2004  Alabama                   26.00%                       863,695

In [11]:
# Read the csv file into a pandas DataFrame
voter_to_r = pd.read_csv('../Resources/Registered_voters_by_state.csv')
voter_to_r.head(2)

,Year,State,Total Population,Total Citizen Population,Total registered,Total voted
0,2000,Alabama,"3,278,000","3,233,000","2,411,000","1,953,000"
1,2004,Alabama,"3,330,000","3,257,000","2,418,000","2,060,000"

In [12]:
voter_to_r["State"] =voter_to_r.State.str.replace(' ','')

In [13]:
voter_to_r.count()

Year                        255
State                       255
Total Population            255
Total Citizen Population    255
Total registered            255
Total voted                 255
dtype: int64

In [14]:
# Create a filter DF with only needed columns
voter_to_r_col = ["Year", "State","Total registered"]
voter_to_r2 = voter_to_r[voter_to_r_col].copy()
voter_to_r2.head(2)

   Year    State Total registered
0  2000  Alabama        2,411,000
1  2004  Alabama        2,418,000

In [15]:
voter_to_r2.shape

(255, 3)

In [16]:
first_merge = pd.merge(voter_to_g3, voter_to_r2, on=('Year', 'State'), how='left')
first_merge.reset_index()
first_merge.head(2)

,Year,State,General:VEP Turnout Rate,General:Total Ballots Counted,VEP,Total registered
0,2000,Alabama,59.00%,"1,912,592","3,241,682","2,411,000"
1,2004,Alabama,57.40%,"1,890,317","3,292,608","2,418,000"

In [17]:
first_merge.shape

(255, 6)

In [18]:
final_merge = pd.merge(first_merge, voter_to_p3, on=('Year', 'State'), how='left')
final_merge.reset_index()
# final_merge.reset_index(['State', 'Year'], axis="columns")
final_merge.head(50)

,Year,State,General:VEP Turnout Rate,General:Total Ballots Counted,VEP,Total registered,Primary:VEP Turnout Rate,Primary:Total Ballots Counted
0,2000,Alabama,59.00%,"1,912,592","3,241,682","2,411,000",15.30%,"489,573"
1,2004,Alabama,57.40%,"1,890,317","3,292,608","2,418,000",26.00%,"863,695"
2,2008,Alabama,61.00%,"2,105,622","3,454,510","2,438,000",32.20%,"1,088,835"
3,2012,Alabama,59.00%,"2,088,138","3,539,217","2,556,000",24.80%,"871,025"
4,2016,Alabama,59.10%,"2,134,061","3,609,447","2,526,000",35.00%,"1,260,551"
5,2000,Alaska,68.70%,"287,825","419,111","299,000",NaN,NaN
6,2004,Alaska,69.60%,"314,502","452,124","334,000",NaN,NaN
7,2008,Alaska,68.30%,"327,341","479,429","345,000",5.00%,"23,621"
8,2012,Alaska,58.90%,"301,694","511,792","361,000",2.80%,"14,135"
9,2016,Alaska,61.50%,"321,271","522,679","358,000",6.20%,"32,530"
10,2000,Arizona,46.40%,"1,559,520","3,357,701","1,879,000",12.70%,"409,576"
11,2004,Arizona,54.80%,"2,038,069","3,717,055","2,485,000",6.50%,"238,942"
12,2008,Arizona,57.40%,"2,320,851","4,046,075","2,874,000",24.20%,"998,393"
13,2012,Arizona,53.00%,"2,323,579","4,387,900","2,812,000",11.90%,"511,812"
14,2016,Arizona,56.10%,"2,661,497","4,740,310","3,145,000",23.50%,"1,095,111"
15,2000,Arkansas,52.60%,"1,013,055","1,925,961","1,125,000",15.40%,"291,473"
16,2004,Arkansas,54.40%,"1,070,573","1,969,208","1,328,000",21.00%,"416,528"
17,2008,Arkansas,52.90%,"1,095,958","2,071,563","1,317,000",26.80%,"544,170"
18,2012,Arkansas,51.10%,"1,078,548","2,109,847","1,376,000",15.90%,"335,885"
19,2016,Arkansas,53.20%,"1,137,772","2,140,097","1,456,000",30.20%,"644,523"
20,2000,California,56.60%,"11,142,843","19,685,258","13,061,000",40.30%,"7,883,385"
21,2004,California,59.60%,"12,589,367","21,132,533","14,193,000",31.00%,"6,585,111"
22,2008,California,61.70%,"13,743,177","22,261,504","14,885,000",40.00%,"9,086,415"
23,2012,California,55.70%,"13,202,158","23,681,837","15,356,000",22.90%,"5,328,296"
24,2016,California,58.20%,"14,610,509","25,104,844","16,096,000",34.00%,"8,548,301"
25,2000,Colorado,69.60%,"1,340,469","3,026,316","1,954,000",3.60%,"105,444"
26,2004,Colorado,67.30%,"2,148,036","3,192,647","2,307,000",3.60%,"115,774"
27,2008,Colorado,71.60%,"2,422,236","3,382,959","2,437,000",5.40%,"185,401"
28,2012,Colorado,70.60%,"2,596,173","3,675,871","2,635,000",1.80%,"66,027"
29,2016,Colorado,71.90%,"2,859,216","3,974,405","2,893,000",3.60%,"141,436"
30,2000,Connecticut,62.50%,"1,474,103","2,357,687","1,510,000",15.60%,"359,479"
31,2004,Connecticut,66.20%,"1,607,808","2,429,634","1,695,000",5.70%,"131,328"
32,2008,Connecticut,63.00%,"1,556,782","2,471,082","1,761,000",20.50%,"507,166"
33,2012,Connecticut,61.40%,"1,560,640","2,543,202","1,760,000",2.30%,"59,639"
34,2016,Connecticut,64.90%,"1,675,955","2,582,761","1,763,000",21.00%,"542,271"
35,2000,Delaware,65.00%,"360,661","554,863","385,000",7.60%,"41,201"
36,2004,Delaware,64.50%,"377,407","584,817","415,000",5.60%,"33,291"
37,2008,Delaware,65.80%,"413,562","628,200","447,000",23.80%,"146,578"
38,2012,Delaware,65.00%,"431,579","663,967","470,000",4.30%,"28,592"
39,2016,Delaware,64.40%,"445,228","691,720","487,000",23.50%,"163,532"
40,2000,DistrictOfColumbia,59.60%,"248,351","416,696","295,000",6.20%,"24,975"
41,2004,DistrictOfColumbia,54.90%,"230,105","419,142","293,000",9.70%,"39,540"
42,2008,DistrictOfColumbia,61.70%,"266,871","432,566","324,000",30.10%,"131,103"
43,2012,DistrictOfColumbia,61.60%,"294,254","477,582","385,000",13.70%,"64,349"
44,2016,DistrictOfColumbia,60.70%,"312,575","515,248","420,000",20.20%,"103,262"
45,2000,Florida,57.50%,"6,138,765","10,667,193","7,043,000",12.70%,"1,341,844"
46,2004,Florida,64.70%,"7,640,319","11,811,921","8,219,000",21.00%,"2,448,484"
47,2008,Florida,66.60%,"8,453,743","12,687,407","8,774,000",34.00%,"4,268,602"
48,2012,Florida,63.30%,"8,538,264","13,495,057","9,102,000",12.80%,"1,676,176"
49,2016,Florida,65.60%,"9,580,489","14,601,066","9,604,000",28.20%,"4,070,988"

In [19]:
final_merge["Total registered"]

0      2,411,000
1      2,418,000
2      2,438,000
3      2,556,000
4      2,526,000
         ...
250      240,000
251      265,000
252      270,000
253      268,000
254      304,000
Name: Total registered, Length: 255, dtype: object

In [20]:
final_merge.count()

Year                             255
State                            255
General:VEP Turnout Rate         254
General:Total Ballots Counted    255
VEP                              255
Total registered                 255
Primary:VEP Turnout Rate         253
Primary:Total Ballots Counted    253
dtype: int64