In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

In [2]:
# Read the csv file into a pandas DataFrame
voter_to_g = pd.read_csv('../Resources/2000-2016_General_Turnout Rates.csv')
voter_to_g.head(2)

,Year,State,VEP Total Ballots Counted Rate,VEP Highest Office,Total Ballots Counted,Highest Office,Voting-Eligible Population (VEP)
0,2000,Alabama,59.00%,51.60%,"1,912,592","1,672,551","3,241,682"
1,2004,Alabama,57.40%,57.20%,"1,890,317","1,883,415","3,292,608"

In [3]:
#count number of rows
voter_to_g.count()

Year                                255
State                               255
VEP Total Ballots Counted Rate      255
VEP Highest Office                  255
Total Ballots Counted               255
Highest Office                      255
Voting-Eligible Population (VEP)    255
dtype: int64

In [4]:
#replaced any spaces in rows with no space for better filtering
voter_to_g["State"] =voter_to_g.State.str.replace(' ','')

In [5]:
# Rename the column headers
voter_to_g2 = voter_to_g.rename(columns={"VEP Total Ballots Counted Rate": "General:VEP Turnout Rate",
                                         "Total Ballots Counted": "General:Total Ballots Counted", 
                                        "Voting-Eligible Population (VEP)": "VEP"})
voter_to_g2.head(2)

,Year,State,General:VEP Turnout Rate,VEP Highest Office,General:Total Ballots Counted,Highest Office,VEP
0,2000,Alabama,59.00%,51.60%,"1,912,592","1,672,551","3,241,682"
1,2004,Alabama,57.40%,57.20%,"1,890,317","1,883,415","3,292,608"

In [6]:
# Create a filter DF with only needed columns
voter_to_g_col = ["Year", "State", "General:VEP Turnout Rate", "General:Total Ballots Counted", "VEP"]
voter_to_g3 = voter_to_g2[voter_to_g_col].copy()
voter_to_g3.head(2)

,Year,State,General:VEP Turnout Rate,General:Total Ballots Counted,VEP
0,2000,Alabama,59.00%,"1,912,592","3,241,682"
1,2004,Alabama,57.40%,"1,890,317","3,292,608"

In [7]:
# Read the csv file into a pandas DataFrame
voter_to_p = pd.read_csv('../Resources/Primary Elections .csv')
voter_to_p.head(2)

,Year,State,VEP Turnout Rate,VEP Estimate,VAP Estimate,Turnout Rate VEP Total Ballots Counted
0,2000,Alabama,15.30%,"3,206,336","3,339,922","489,573"
1,2004,Alabama,26.00%,"3,321,905","3,424,354","863,695"

In [8]:
voter_to_p["State"] =voter_to_p.State.str.replace(' ','')

In [9]:
# Rename the column headers
voter_to_p2 = voter_to_p.rename(columns={"Turnout Rate VEP Total Ballots Counted": "Primary:Total Ballots Counted",
                                        "VEP Turnout Rate":"Primary:VEP Turnout Rate",
                                        "VEP Estimate":"Primary:VEP Estimate"})
voter_to_p2.head(2)

,Year,State,Primary:VEP Turnout Rate,Primary:VEP Estimate,VAP Estimate,Primary:Total Ballots Counted
0,2000,Alabama,15.30%,"3,206,336","3,339,922","489,573"
1,2004,Alabama,26.00%,"3,321,905","3,424,354","863,695"

In [10]:
# Create a filter DF with only needed columns
voter_to_p_col = ["Year", "State","Primary:VEP Turnout Rate","Primary:Total Ballots Counted"]
voter_to_p3 = voter_to_p2[voter_to_p_col].copy()
voter_to_p3.head(2)

   Year    State Primary:VEP Turnout Rate Primary:Total Ballots Counted
0  2000  Alabama                   15.30%                       489,573
1  2004  Alabama                   26.00%                       863,695

In [11]:
# Read the csv file into a pandas DataFrame
voter_to_r = pd.read_csv('../Resources/Registered_voters_by_state.csv')
voter_to_r.head(2)

,Year,State,Total Population,Total Citizen Population,Total registered,Total voted
0,2000,Alabama,"3,278,000","3,233,000","2,411,000","1,953,000"
1,2004,Alabama,"3,330,000","3,257,000","2,418,000","2,060,000"

In [12]:
voter_to_r["State"] =voter_to_r.State.str.replace(' ','')

In [13]:
voter_to_r.count()

Year                        255
State                       255
Total Population            255
Total Citizen Population    255
Total registered            255
Total voted                 255
dtype: int64

In [14]:
# Create a filter DF with only needed columns
voter_to_r_col = ["Year", "State","Total registered"]
voter_to_r2 = voter_to_r[voter_to_r_col].copy()
voter_to_r2.head(2)

   Year    State Total registered
0  2000  Alabama        2,411,000
1  2004  Alabama        2,418,000

In [15]:
voter_to_r2.shape

(255, 3)

In [16]:
first_merge = pd.merge(voter_to_g3, voter_to_r2, on=('Year', 'State'), how='left')
first_merge.reset_index()
first_merge.head(2)

,Year,State,General:VEP Turnout Rate,General:Total Ballots Counted,VEP,Total registered
0,2000,Alabama,59.00%,"1,912,592","3,241,682","2,411,000"
1,2004,Alabama,57.40%,"1,890,317","3,292,608","2,418,000"

In [17]:
first_merge.shape

(255, 6)

In [18]:
final_merge = pd.merge(first_merge, voter_to_p3, on=('Year', 'State'), how='left')
final_merge.reset_index()
# final_merge.reset_index(['State', 'Year'], axis="columns")
final_merge.head(2)

,Year,State,General:VEP Turnout Rate,General:Total Ballots Counted,VEP,Total registered,Primary:VEP Turnout Rate,Primary:Total Ballots Counted
0,2000,Alabama,59.00%,"1,912,592","3,241,682","2,411,000",15.30%,"489,573"
1,2004,Alabama,57.40%,"1,890,317","3,292,608","2,418,000",26.00%,"863,695"

In [19]:
final_merge["Total registered"]

0      2,411,000
1      2,418,000
2      2,438,000
3      2,556,000
4      2,526,000
         ...
250      240,000
251      265,000
252      270,000
253      268,000
254      304,000
Name: Total registered, Length: 255, dtype: object

In [20]:
final_merge.count()

Year                             255
State                            255
General:VEP Turnout Rate         255
General:Total Ballots Counted    255
VEP                              255
Total registered                 255
Primary:VEP Turnout Rate         255
Primary:Total Ballots Counted    255
dtype: int64

In [21]:
final_merge["General:VEP Turnout Rate"].isnull().sum()

0

In [22]:
final_merge.to_csv("Voter_final_clean.csv", index=False)